

@font-face{
	font-family: 'qw';
	src: url('../fonts/qw.ttf');
	
	
}
@font-face{
	font-family:'qqw';
	src: url('../fonts/qqw.otf');
	
}
@font-face{
	font-family:'wq';
	src: url('../fonts/wq.otf');
	
}